.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}
.aqua{
    background-color: aqua;
}