#div-1{
        width: 200px;
      height: 200px;
      background-color: green;
      
      padding: 10px;
      margin: 20px;
    }
    #div-2{
        width: 100px;
      height: 100px;
      background-color: orange;
     
      padding: 10px;
      margin: 20px;
    }
    #event-propagation{
    
        color: red;
    }
    .green{
      background-color: aquamarine;

    }