body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#E9C6F4;
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;


}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    flex-wrap: nowrap;
}
#calculator::shadow{
    background-color: rgba(0,0,0,0.15);
}
#display{
  
    padding: 20px;
    font-size: 5rem;
    text-align:left ;
    border: none;
    background-color: #EAF5F5;
    color:#3C3C3C ;
    border-radius: 40px;
    padding: 5px 30px;
    height:90px;


}


#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}
button{
    width: 100px;
    height:100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    font-weight:bold;
    cursor:pointer;
    background-color: #F4F7F9;


}
button:hover{
    background-color: hsl(0,0%,40%);
}
button:active{
    background-color: hsl(0,0%,50%);

}
.operator-btn{
    background-color:rgb(35,100%,55%);


}

.operator-btn{
    background-color: #D889A7;

}
.operator-btn:hover{
    background-color:hsl(35,100%,75%) ;
}